*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Setting root font size to 10px */
  font-size: 0.625rem;
  font-family: robotoRegular, serif;
  color: var(--primary-2);
  background-color: var(--primary-base);
}

body {
  margin: 0;
  overflow-x: hidden;
}

body.en {
  direction: ltr;
}

body.he {
  direction: rtl;
}

h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
}
