.editor-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.5em;

  padding: 3em;
  border-radius: var(--border-radius);
  background-color: var(--primary-1);
}

.canvas-container {
  width: 100%;
  justify-content: center;
}

.main-canvas {
  border: 2px solid black;
}

.editor {
  flex-direction: column;
  gap: 2em;
  align-self: center;

  border-radius: var(--border-radius);
  background-color: rgba(173, 216, 230, 0.606);
  padding: 3em;
}

.editor .btn {
  width: 3em;
  height: 3em;

  border-radius: 13px;

  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.357);
  transition: background-color var(--color-transition);
}

/* //////////////////////////////////////////////////// */

/* Input Area */

.editor .input-area {
  width: 100%;
  gap: 2em;
}

.input-area .text-input {
  flex-grow: 1;
  padding: 0.6em;
  border-radius: var(--pill-border-radius);
}

.input-area .btn-clear {
  width: 30%;
  padding: 0.5em;
  color: var(--primary-2);
  background-color: black;
}

/* //////////////////////////////////////////////////// */

/* Line Controls */

.editor .line-controls {
  gap: 2em;
}

.line-controls .btn-add-line {
  background-color: green;
}

.line-controls .btn-add-line:hover {
  background-color: rgb(0, 84, 0);
}

.line-controls .btn-switch-line {
  background-color: orange;
}

.line-controls .btn-switch-line:hover {
  background-color: rgb(184, 120, 1);
}

.line-controls .btn-delete-line {
  background-color: rgb(253, 60, 60);
}

.line-controls .btn-delete-line:hover {
  background-color: rgb(159, 35, 35);
}

/* //////////////////////////////////////////////////// */

/* Text Editor */

.editor .text-editor {
  flex-wrap: wrap;
  gap: 2em;
}

.text-editor .btn {
  background-color: var(--primary-2);
}

.text-editor .btn:hover {
  background-color: #a4a2a2;
}

.editor .font-family-select {
  min-width: 7em;
  flex-grow: 1;
}

/* //////////////////////////////////////////////////// */

/* Stickers */

.editor .stickers {
  width: 100%;
  background-color: var(--primary-2);
  border-radius: var(--pill-border-radius);
}

.stickers .btn-sticker {
  background-color: transparent;
  font-size: 2.5em;
  box-shadow: none;

  transition: transform var(--transform-transition);
}

.stickers .btn-sticker:hover {
  transform: scale(1.5);
}

/* //////////////////////////////////////////////////// */

/* File Options */

.file-options {
  width: 100%;
}

.file-options .btn-file-action {
  padding: 0.8em;
  border-radius: var(--pill-border-radius);

  transition: background-color var(--color-transition),
    transform var(--transform-transition);

  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.357);
}

.file-options .btn-file-action:hover {
  transform: scale(1.1);
  font-family: robotoBold, serif;
}

.btn-file-action a,
.btn-file-action a:visited {
  color: black;
}

.file-options .link-download {
  background-color: rgb(156, 156, 255);
}

.file-options .link-download:hover {
  background-color: rgb(66, 66, 227);
}

.file-options .btn-save {
  background-color: rgb(94, 155, 239);
}

.file-options .btn-save:hover {
  background-color: rgb(49, 134, 253);
}

.file-options .btn-facebook {
  background-color: rgb(30, 97, 190);
}

.file-options .btn-facebook:hover {
  background-color: rgb(13, 60, 125);
}
