.gallery-section .gallery-header {
  padding: 3em;
  border-radius: var(--border-radius);
  margin-block-end: 1rem;

  background-color: var(--gradient-color);
  background-image: var(--gradient-image);
}

.gallery-header .filter-container {
  gap: 1em;
  width: 50%;
}

.gallery-header .btn {
  padding: 1em 1.5em;
  border-radius: var(--pill-border-radius);

  font-family: robotoBold, serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  transition: var(--color-transition);
}

.gallery-section .filter-input {
  flex-grow: 1;
  padding: 1em;
  border: none;
  border-radius: var(--pill-border-radius);

  font-size: 1.8em;
  font-family: robotoBold, serif;
  color: var(--primary-2);
  background-color: var(--primary-base);
}

.gallery-header .keywords-container {
  gap: 1em;

  padding: 1em;
  border-radius: var(--border-radius);

  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
}

.keywords-container .keyword {
  cursor: pointer;
}

.gallery-section .btn-clear {
  background-color: rgb(129, 237, 90);
}

.gallery-section .btn-clear:hover {
  background-color: rgb(100, 187, 68);
}

.gallery-section .btn-frenzy {
  background-color: rgb(91, 209, 248);
}

.gallery-section .btn-frenzy:hover {
  background-color: rgb(30, 139, 175);
}

/* //////////////////////////////////////////////////// */

.gallery-section .gallery {
  gap: 3em;

  padding: 3em 2em;
  border-radius: var(--border-radius);

  background-color: var(--primary-1);
}

.gallery .upload-container {
  position: relative;
}

.upload-container label {
  position: absolute;
  inset: 0 0 auto auto;

  width: 100%;
  height: 100%;

  /* z-index for the label to be clickable */
  z-index: 1;
  opacity: 0;

  cursor: pointer;
}

.upload-container input {
  display: none;
}

.gallery .gallery-img {
  height: 100%;
  object-fit: cover;

  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.211);

  transition: transform var(--transform-transition);
  cursor: pointer;
}

.gallery .gallery-img:not(.upload-img):hover {
  transform: scale(1.05);
}

.gallery .upload-img {
  padding: 2em;
  background-color: var(--primary-base);
  transition: background-color var(--color-transition);
}

.gallery .upload-img:hover {
  background-color: var(--primary-2);
}
