.gallery-section .btn-frenzy {
  justify-self: end;
  padding: 1em 2em;
  border-radius: 2em;

  background-color: rgb(91, 209, 248);
  transition: var(--color-transition);
}

.gallery-section .btn-frenzy:hover {
  background-color: rgb(30, 139, 175);
}

.gallery-section .gallery {
  gap: 3em;

  padding: 3em 2em;
  border-radius: var(--border-radius);

  background-color: var(--primary-1);
}

.gallery .gallery-img {
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.211);

  transition: transform var(--scale-transition);
}

.gallery .gallery-img:hover {
  transform: scale(1.05);
}
