.gallery-section .gallery-header {
  margin-block-end: 1rem;
  padding: 3em;
  background-color: var(--primary-1);
}

.gallery-header .filter-container {
  gap: 1em;
  width: 50%;
}

.gallery-header .btn {
  padding: 1em 1.5em;
  border-radius: var(--pill-border-radius);

  font-family: robotoBold, serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  transition: var(--color-transition);
}

.gallery-section .filter-input {
  flex-grow: 1;
  padding: 1em;
  border: none;
  border-radius: var(--pill-border-radius);

  font-size: 1.8em;
  font-family: robotoBold, serif;
  color: var(--primary-2);
  background-color: var(--primary-base);
}

.gallery-section .btn-clear {
  background-color: rgb(129, 237, 90);
}

.gallery-section .btn-clear:hover {
  background-color: rgb(100, 187, 68);
}

.gallery-section .btn-frenzy {
  background-color: rgb(91, 209, 248);
}

.gallery-section .btn-frenzy:hover {
  background-color: rgb(30, 139, 175);
}

.gallery-section .gallery {
  gap: 3em;

  padding: 3em 2em;
  border-radius: var(--border-radius);

  background-color: var(--primary-1);
}

.gallery .gallery-img {
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.211);

  transition: transform var(--transform-transition);
  cursor: pointer;
}

.gallery .gallery-img:hover {
  transform: scale(1.05);
}
