.main-header {
  padding: 2em;
}

.main-header .main-title {
  font-size: 7em;
}

.main-header .main-nav-list {
  font-size: 3em;
  gap: 1em;
}

.main-nav-list .btn {
  padding: 1em;
  border-radius: 2em;

  font-size: 0.6em;
  color: inherit;
  background: transparent;
}

.main-nav-list .btn.selected {
  color: var(--primary-base);
  background-color: var(--primary-2);
  transition: background-color var(--color-transition);
}

.main-header .btn-toggle-menu {
  display: none;

  background-color: transparent;
  font-size: 3em;
  color: var(--primary-2);
}
