.main-footer {
  height: 150px;
  justify-content: center;
  background-color: var(--primary-1);
}

.main-footer .logo {
  font-size: 3em;
}

.main-footer .copyright {
  color: var(--primary-2);
  font-size: 1.5em;
}
