.saved-memes-section {
  transition: transform var(--slide-in-transition);
  transform: translateX(200%);
}

.saved-memes-section .saved-memes {
  gap: 4em;

  padding: 4em;
  border-radius: var(--border-radius);

  background-color: var(--primary-1);
}

.saved-memes-section .saved-memes-header {
  padding: 3em;
  border-radius: var(--border-radius);
  margin-block-end: 1rem;

  background-color: var(--gradient-color);
  background-image: var(--gradient-image);
}

.saved-memes-header .saved-title {
  font-size: 4em;
  letter-spacing: -0.5px;
}

.saved-memes .saved-meme {
  position: relative;
  overflow: hidden;

  border-radius: var(--border-radius);

  background-color: darkgray;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.211);
  transition: all var(--transform-transition);
  cursor: pointer;
}

.saved-memes .saved-meme:hover {
  transform: translateY(-15px);
}

.saved-meme img {
  transition: opacity 0.3s;
}

.saved-meme:hover img {
  opacity: 0.2;
}

.saved-meme .edit-msg {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.saved-meme .icons-container {
  position: absolute;
  inset: 30px 30px auto auto;
  gap: 2em;
  transform: translateY(30px);
}

.saved-meme > *:not(img) {
  opacity: 0;
  transition: all var(--transform-transition);
}

.icons-container .icon {
  background-color: transparent;
  font-size: 3em;
  transition: transform var(--transform-transition);
}

.icon.fa-download {
  color: var(--primary-2);
}

.icon.fa-trash {
  color: red;
}

.saved-meme:hover > *:not(img) {
  opacity: 1;
}

.saved-meme:hover .icons-container {
  transform: translateY(0);
}

.icons-container .icon:hover {
  transform: scale(1.3);
}

.saved-memes-section .no-saved-alert {
  justify-self: center;

  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
