:root {
  --primary-2: #f0f0f0;
  --primary-1: #383b42;
  --primary-base: #22252c;

  --secondary-base: rgb(255, 255, 128);

  --gradient-color: #6daddb;
  --gradient-image: linear-gradient(315deg, #313131 0%, #6daddb 74%);

  --border-radius: 30px;
  --pill-border-radius: 2em;

  --transform-transition: 0.5s;
  --color-transition: 0.4s;
  --slide-in-transition: 1s;
}
